<p id="notice"><%= notice %></p>

<h1>Listing Admin Galleries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_galleries.each do |admin_gallery| %>
      <tr>
        <td><%= admin_gallery.name %></td>
        <td><%= link_to 'Show', admin_gallery %></td>
        <td><%= link_to 'Edit', edit_admin_gallery_path(admin_gallery) %></td>
        <td><%= link_to 'Destroy', admin_gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery', new_admin_gallery_path %>
