<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_gallery.name %>
</p>

<%= link_to 'Edit', edit_admin_gallery_path(@admin_gallery) %> |
<%= link_to 'Back', admin_galleries_path %>
