<!-- Slider -->
<div class="top-slider">
  <ul class="bxslider" id="main-slider">
    <li>
      <div class="main-slide-1">   <!-- Do naszego slidera przygotowalem dwie pozycjie na liscie -->
        <div class="container">
          <div class="main-slider-content">   <!-- głowna nasza zawartsc -->
            <h1 class="animated fadeInDown" >Proponujemy nowoczesne rozwiązania</h1>  <!-- dodajemy animiacjie i ruch w dol -->
            <p class="animated fadeInLeft" >Zapewniamy pełną obsłógę logistyczną.</p>    <!--  kolejan animacja i ruch lewy-->
            <a href="" class="animated fadeInUp" >Zobacz</a>         <!-- ruch gory -->
           <!-- <img src="<%= asset_path('slider_1_phone.png')%>" class="animated fadeInDown" > -->       <!-- ruch dolny -->
            <img src="<%= asset_path('slider_11_phone.png')%>" class="animated fadeInDown" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="main-slide-2">   <!-- Druga -->
        <div class="container">
          <div class="main-slider-content">
            <h1 class="animated fadeInDown" >Zapewniamy czytelną oferta cenową</h1>
            <p class="animated fadeInLeft" >Wykonujemy dokumentację prac.</p>
            <a href="" class="animated fadeInUp" >Zobacz</a>
            <!-- <img class="animated fadeInDown" src="<%= asset_path('slider_1_tablet.png') %>"> -->
            <img class="animated fadeInDown" src="<%= asset_path('slider_21_tablet.png') %>">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!--
<script>                          /* Wylaczymy ten skrypt*/
  $(document).ready(function () {
    /* glowny slider */
    $('#main-slider').bxSlider({
      mode: 'fade', v v           /* Tutaj ustawiamy tryb pracy czyli fade - to takie przenikanie */
      auto: true,                 /* Chce aby te slajdy byly przewijane automatycznie */
      controls: true,             /* Chce takze zeby wyswietlane byly kontrolki */
      pager: false                /* Ukrywamy paginacje */
    });
  });
</script>
-->


<!-- Sekcja nasze uslugi -->
<div class="our-services">
  <div class="section-title_our-services">
    <div class="container">
      <div class="single-col"  data-animate="fadeInLeft" >         <!-- Tutaj przesuwanie z lewj -->
        <span><i class="fa fa-calendar"></i></span>
        <h3>Terminowość</h3>
        <p>Zapewniamy przejrzysta umowę z gwarancją terminu. Pełną obslugę logistyczną.  </p>
      </div>
      <div class="single-col" data-animate="fadeInUp" >               <!-- Tutaj z gory -->
        <span><i class="fa fa-thumbs-up"></i></span>
        <h3>Bezpłatny kosztorys</h3>
        <p>Prześlij dane projektu, zdjęcia i opis - będziemy mogli dokonać precyzyjnej wyceny prac.</p>
      </div>
      <div class="single-col" data-animate="fadeInUp" >                <!-- Tutaj takze z gory -->
        <span><i class="fa fa-phone"></i></span>
        <h3>Kontakt</h3>
        <p>Skontaktuj się, chętnie odpowiemy na wszelkie pytania.
          Ofertę przygotowaliśmy w taki sposób, aby inwestor był obsłużony w sposób kompleksowy i profesjonalny.</p>
      </div>
      <div class="single-col" data-animate="fadeInRight">               <!-- A tutaj przesowanie z prawej -->
        <span><i class="fa fa-truck"></i></span>
        <h3>Transpost </h3>
        <p>Dbamy o dobrą komunikację, zdejmujemy z inwestora większość obowiązków związanych z zakupem i dostarczeniem materiałów.</p>
      </div>
    </div>
  </div>
</div>


<!-- Sekcja Nasze Portfolio -->
<div class="portfolio">
  <!-- tytul -->
  <div class="section-title">
    <div class="container" data-animate="bounceIn" >
      <h2>Nasze realizacje</h2>
      <p>Wszyscy nasi klienci mogą liczyc na indywidualne podejście, pełen profesjonalizm, a także jasny zakres prac.</p>
    </div>
  </div>

  <!-- slider -->
  <div class="portfolio-slider">
    <div class="container" data-animate="fadeIn" >
      <div id="portfolio-carousel" class="owl-carousel">
        <div class="portfolio-item">
          <img src="<%= asset_path('owl_slider3/fotolia_salon.jpg') %>" width="450" height="300" alt="">
          <div class="portfolio-hover">
            <div class="portfolio-hover-inner">
              <h3>Przykładowy projekt</h3>
              <p>10 stycznia 2017</p>
              <a href="" class="portfolio-link-left"><i class="fa fa-search"></i></a>
              <a href="" class="portfolio-link-right"><i class="fa fa-file-image-o"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-item">
          <img src="<%= asset_path('owl_slider3/fotolia_kominek.jpg') %>" width="450" height="300" alt="">
          <div class="portfolio-hover">
            <div class="portfolio-hover-inner">
              <h3>Przykładowy projekt</h3>
              <p>19 marzec 2017</p>
              <a href="" class="portfolio-link-left"><i class="fa fa-search"></i></a>
              <a href="" class="portfolio-link-right"><i class="fa fa-file-image-o"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-item">
          <img src="<%= asset_path('owl_slider3/fotolia_fazienka.jpg') %>" width="450" height="300" alt="">
          <div class="portfolio-hover">
            <div class="portfolio-hover-inner">
              <h3>Przykładowy projekt</h3>
              <p>22 stycznia 2016</p>
              <a href="" class="portfolio-link-left"><i class="fa fa-search"></i></a>
              <a href="" class="portfolio-link-right"><i class="fa fa-file-image-o"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-item">
          <img src="<%= asset_path('owl_slider3/fotolia_stolik_zima.jpg') %>" width="450" height="300" alt="">
          <div class="portfolio-hover">
            <div class="portfolio-hover-inner">
              <h3>Przykładowy projekt</h3>
              <p>2 kwiecien 2016</p>
              <a href="" class="portfolio-link-left"><i class="fa fa-search"></i></a>
              <a href="" class="portfolio-link-right"><i class="fa fa-file-image-o"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-item">
          <img src="<%= asset_path('owl_slider3/fotolia_sypialnia.jpg') %>" width="450" height="300" alt="">
          <div class="portfolio-hover">
            <div class="portfolio-hover-inner">
              <h3>Przykładowy projekt</h3>
              <p>17 czerwiec 2016</p>
              <a href="" class="portfolio-link-left"><i class="fa fa-search"></i></a>
              <a href="" class="portfolio-link-right"><i class="fa fa-file-image-o"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-item">
          <img src="<%= asset_path('owl_slider3/fotolia_kitchen.jpg') %>" width="450" height="300" alt="">
          <div class="portfolio-hover">
            <div class="portfolio-hover-inner">
              <h3>Przykładowy projekt</h3>
              <p>9 sierpien 2016</p>
              <a href="" class="portfolio-link-left"><i class="fa fa-search"></i></a>
              <a href="" class="portfolio-link-right"><i class="fa fa-file-image-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Sekcja content  - czyli nasza zawartsc -->
<div class="content-offer">
  <div class="container" data-animate="bounceIn" >
    <div class="section-title">
      <div class="container" data-animate="bounceIn">   <!-- Przesunmy naszą strukture - wysrodkowujac ja  -->
        <h2>Dlaczego warto nam zaufac.</h2>
        <p>Posiadamy duże doświadczenie zdobyte podczas realizacji kilkuset projektów.
          Oferujemy pełen zakres usług, począwszy od prac budowlanych, instalacyjnych,
          aż po dekoracyjne malowanie. </p>
      </div>
    </div>

   <!-- <img src="<%= asset_path('desktop.png') %>" alt=""> -->
    <img src="<%= asset_path('desktop_3_tablet.png') %>" alt="">
  </div>
</div>


<!-- Sekcja video -->
<!--
Film nie bedzie widoczny poniewaz mamy nieprawidlowe narzucone pozycjonowanie
poniewaz  element div id="movie"  ma zerowa wysokosc i nie widac naszego filmu
i dlatego musimy dodac klase  style="position:absolute"
-->
<div class="section-video">
  <div id="movie" style="position:absolute">  <!-- Do tego diva bedzie ladowany nasz film , dodamy na sztywno nasz styl-->
  </div>
  <div class="video-line">
    <div class="container" data-animate="bounceIn">
      <h2>Nasz najnowszy projekt</h2>
      <a href="#" class="button">Zobacz więcej</a>
    </div>
  </div>
  <!-- Tutaj podepniemy nasz YTPlayer i na tym elemencie wywolamy skrypt, i tutja bedziemy musieli dodac specjalny atrybut -->
  <div class="player"
       data-property="{videoURL:'V6_85cSOIcE', containment:'#movie', showControls:false,startAt:0, mute:true,autoPlay:true, loop:true,opacity:1}" >
  </div>

</div>


<!-- pasek ponizej video -->
<div class="section-video-text">
  <div class="container">
    <h2>Kliknij aby skontaktować się z nami
      <a href="#" class="button">Kliknij tutaj</a>
    </h2>
  </div>
</div>


<!-- Sekcja Nasze zalety -->
<div class="advantages">
  <div class="section-title">
    <div class="container" data-animate="bounceIn" >
      <h2>Dlaczego warto skorzystać z naszych usług</h2>
      <p>Vestibulum accumsan auctor diam id aliquam. Sed at eros vitae nulla dictum convallis sit amet vel nibh</p>
    </div>
  </div>
  <!-- wlasciwa tresc -->
  <div class="advantages-content">
    <div class="container">
      <!-- zalety - jeden element -->
      <div class="single-col" data-animate="fadeInLeft" >
        <span><i class="fa fa-th-large"></i></span>
        <div class="services-content">
          <h3>Usługi glazurnicze</h3>
          <p>Układamy wszystkie rodzaje i wzory płytek. Gwarantujemy wysoki standard.</p>
        </div>
      </div>
      <!-- zalety - jeden element -->
      <div class="single-col">
        <span><i class="fa fa-wrench"></i></span>
        <div class="services-content">
          <h3>Usługi instalacyjne</h3>
          <p>Wykonujemy kompleksowo instalacje elektryczne jak i hydrauliczne.</p>
        </div>
      </div>
      <!-- zalety - jeden element -->
      <div class="single-col" data-animate="fadeInRight" >
        <span><i class="fa fa-trash"></i></span>
        <div class="services-content">
          <h3>Prace z gipsem</h3>
          <p>Montujemy sufity podwieszane: od najprostszych po wielopoziomowe.</p>
        </div>
      </div>
      <!-- zalety - jeden element -->
      <div class="single-col" data-animate="fadeInLeft" >
        <span><i class="fa fa-gavel"></i></span>
        <div class="services-content">
          <h3>Usługi posadzkarskie</h3>
          <p>Układamy podłogi drewniane i drewnopochodne.</p>
        </div>
      </div>
      <!-- zalety - jeden element -->
      <div class="single-col" data-animate="fadeInUp" >
        <span><i class="fa fa-paint-brush"></i></span>
        <div class="services-content">
          <h3>Prace malarskie</h3>
          <p>Doradzamy przy wyborze produktów. Wykonujemy próbę koloru.</p>
        </div>
      </div>
      <!-- zalety - jeden element -->
      <div class="single-col" data-animate="fadeInRight" >
        <span><i class="fa fa-pagelines"></i></span>
        <div class="services-content">
          <h3>Prace dekoracyjne</h3>
          <p>Montujemy beton architektoniczny oraz ozdobny kamień naturalny.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Sekcja statystyki -->

<div class="statistics">
  <div class="container">
    <div class="statistics-single-item single-col">
      <div class="statistics-content">
        <h3><span class="timer" data-from="0" data-to="484" data-speed="3000"></span></h3>  <!-- Musimy dodac nasze atrybuty ktory korzystaja z naszego plugniu CountTo czyli: timer(czas), data-from(od kiedy), dato-to(do kiedy), data-speed(predkosc) -->
        <p>Ponad zadowolonych klientów</p>
      </div>
    </div>
    <div class="statistics-single-item single-col">
      <div class="statistics-content">
        <h3><span class="timer" data-from="0" data-to="356" data-speed="3000"></span></h3>
        <p>Zrealizowanych projektów</p>
      </div>
    </div>
    <div class="statistics-single-item single-col">
      <div class="statistics-content">
        <h3><span class="timer" data-from="0" data-to="10" data-speed="3000"></span></h3>
        <p>Lat działalności</p>
      </div>
    </div>
    <div class="statistics-single-item single-col">
      <div class="statistics-content">
        <h3><span class="timer" data-from="0" data-to="128" data-speed="3000"></span></h3>
        <p>Mnieszych projektów</p>
      </div>
    </div>
  </div>
</div>


<!-- Sekcja paralax -->
<div class="photo-banner">
  <div class="photo-banner-inner">
    <div class="container" data-animate="bounceIn" >
      <h2> Idealna charmonia domowego wnętrza </h2>
      <a href="#" class="button">Zobacz</a>
    </div>
  </div>
</div>

<!-- Sekcja nasz zespol -->
<div class="our-team">
  <div class="container" data-animate="bounceIn" >
    <div class="section-title">
      <h2>Lubimy swoją prace.</h2>
      <p>Dbamy o dobrą komunikację pomiędzy stronami. Nasza usługa jest kompleksowa i obejmuje wszystkie elementy sztuki budowlanej.</p>
    </div>
    <div class="team-members">      <!-- Tu mam klase ktora obejmuje wszysto liczba mnoga -->
      <!-- jedna osoba -->
      <div class="team-member single-col">   <!-- A tutj w liczbie pojedynczej -->
        <img src="<%= asset_path('like/fotolia_nowoczesne.jpg') %>" alt="najlepsze rozwiazania">
        <div>
          <h3>Najlepsze rozwiązania</h3>
          <span>Monitoring</span>
          <p>Szczególną uwagę zwracamy na estetyczną stronę realizacji. Prace wykonujemy zgodnie technologią oraz
            z zaleceniami producentow.</p>
          <ul class="memebers-social">
            <li><a href="" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div>
      <!-- jedna osoba -->
      <div class="team-member single-col">
        <img src="<%= asset_path('like/fotolia_nowoczesne_materialy.jpg') %>" alt="najlepsze rozwiazania">
        <div>
          <h3>Doświadczony zespół</h3>
          <span>Selekcja</span>
          <p>Starannie wyselekcjonowani specjaliści reprezentujacy najwyższy poziom wykonawczy. Dzieki czemu
            można spać spokojnie.</p>
          <ul class="memebers-social">
            <li><a href="" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div>
      <!-- jedna osoba -->
      <div class="team-member single-col">
        <img src="<%= asset_path('like/fotolia_now_mat1.jpg') %>" alt="nowoczesne materialy">
        <div>
          <h3>Nowoczesne materialy</h3>
          <span>Wybór</span>
          <p>Dzięki zastosowaniu nowoczesnych materiałów uzyskujemy najwyższą jakość. Co przekłada sie w rezultacie
            na efekt kącowy.</p>
          <ul class="memebers-social">
            <li><a href="" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="googleplus"><i class="fa fa-google-plus"></i> </a></li>
            <li><a href="" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Sekcja Opninie -->
<div class="opinions">
  <div class="container">
    <div class="section-title" data-animate="bounceIn">
      <h2>Kochamy to co robimy </h2>
      <p>Realizujemy wszystkie projekty - od najprostszych po najbardziej ambitne. Pracujemy dokładnie, nie spieszymy się.</p>
    </div>
    <div class="opinions-content" data-animate="fadeIn" >
      <ul class="bxslider" id="opinions-slider">
        <li>
          <p>Dzielimy sie sugestjami w jaki latwy sposób możemy rozwiązać nie które kwestje dotyczące aranżacji mieszkania,
            cechuje nas rzetelność i sumienność.</p>
          <h3>Jestesmy kreatywni</h3>
        </li>
        <li>
          <p>Dla nas zawsze najważniejszy jest klient Spelniamy jego oczekiwania.
            Dlatego też zawsze jesteśmy otwarci na wszelkiego rodzaju propozycje ze strony klienta.</p>
          <h3>Chętnie doradzamy</h3>
        </li>
        <li>
          <p>W naszej pracy bardzo duży nacisk kładziemy nie tylko na wartość techniczną ale również wizualną. </p>
          <h3>Proponujemy odpowiednie rozwiązania</h3>
        </li>
        <li>
          <p>Nasi pracownicy regularnie przechodza różnego rodzaju szkolenia,
            w efekcie czego poszerzają swoją wiedzę oraz umiejętności z zakresu nowych technologii i materiałów</p>
          <h3>Udzielamy gwarancji </h3>
        </li>
      </ul>
    </div>
  </div>
</div>






