<div class="our-services2">
</div>


<div class="prices">
  <div class="single-col price_room">
    <br>

    <p>
      Poniżej przedstawiamy cennik podstawowych czynności realizowanych w czasie remontu Państwa mieszkania bądź też
      domu.<br>
      Szczegółowy kosztorys ofertowy sporządzamy dla inwestora po zapoznaniu się z zakresem prac.<br>
      Przedstawione w tabeli poniżej ceny robocizny są w kwotach netto.
    </p>

    <h2 style="color: #45B6AF">
      Cennik prac
    </h2>
  </div>


  <h1>Prace malarskie</h1>
  <br>
  <div class="table_price">
    <table>
      <tbody>
      <tr>
        <td><strong>LP.</strong></td>
        <td><strong>Usługa</strong></td>
        <td><strong>Jedn. miary</strong></td>
        <td><strong>Cena jedn.netto (zł)</strong></td>
      </tr>
      <tr>
        <td>1.</td>
        <td>Gruntowanie ścian, sufitów, posadzki</td>
        <td>m2</td>
        <td>3,00 zł</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Malowanie farbą podkładową</td>
        <td>m2</td>
        <td>4,00 &ndash; 5,00 zł</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Malowanie farbą akrylową (dwukrotne)</td>
        <td>m2</td>
        <td>10,00 &ndash; 12,00 zł</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Malowanie okien</td>
        <td>m2</td>
        <td>100,00 &ndash; 180,00 zł</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Malowanie drzwi</td>
        <td>m2</td>
        <td>60,00 &ndash; 90,00 zł</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Malowanie grzejników</td>
        <td>szt</td>
        <td>50,00 &ndash; 100,00 zł</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Malowanie rur</td>
        <td>mb.</td>
        <td>6,00 &ndash; 12,00 zł</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Skrobanie ścian i sufitów</td>
        <td>m2</td>
        <td>10,00 &ndash; 20,00 zł</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Mycie ścian i sufitów</td>
        <td>m2</td>
        <td>4,00 &ndash; 10,00 zł</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Tapetowanie</td>
        <td>m2</td>
        <td>20,00 &ndash; 50,00 zł</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>



  <h1>Zabudowy z płyt gipsowo-kartonowych, prace z gipsem</h1>
  <br>
  <div class="table_price">
    <table>
      <tbody>
      <tr>
        <td><strong>LP.</strong></td>
        <td><strong>Usługa</strong></td>
        <td><strong>Jedn. miary</strong></td>
        <td><strong>Cena jedn.netto(zł)</strong></td>
      </tr>
      <tr>
        <td>1.</td>
        <td>Montaż sufitów podwieszanych z płyt gipsowo-kartonowych na stelażu</td>
        <td>m2</td>
        <td>80,00 &ndash; 130,00 zł</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Montaż ścianek z płyt gipsowo-kartonowych na stelażu</td>
        <td>m2</td>
        <td>70,00 &ndash; 100,00 zł</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Montaż płyt gipsowo-kartonowych na klej (suchy tynk)</td>
        <td>m2</td>
        <td>30,00 &ndash; 50,00 zł</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Montaż płyt gipsowo-kartonowych na stelażu suchy tynk)</td>
        <td>m2</td>
        <td>60,00 &ndash; 80,00 zł</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Ocieplenie poddasza (stelaż, wełna, folia, płyta)</td>
        <td>m2</td>
        <td>70,00 &ndash; 120,00 zł</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Izolacja akustyczna ścianek</td>
        <td>m2</td>
        <td>10,00 &ndash; 20,00zł</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Montaż sztukaterii</td>
        <td>mb</td>
        <td>15,00 &ndash; 40,00 zł</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Wklejenie siatki zapobiegającej pękaniu gips</td>
        <td>mb</td>
        <td>10,00 &ndash; 15,00 zł</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Gładzenie ścian</td>
        <td>m2</td>
        <td>20,00 &ndash; 40,00 zł</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Szpachlowanie łączeń między płytami gipsowo-kartonowymi</td>
        <td>mb</td>
        <td>10,00 &ndash; 18,00 zł</td>
      </tr>
      <tr>
        <td>11.</td>
        <td>Montaż narożników aluminiowych</td>
        <td>mb</td>
        <td>15,00 &ndash; 25,00 zł</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>


  <h1>Prace glazurnicze</h1>
  <br>
  <div class="table_price">
    <table>
      <tbody>
      <tr>
        <td><strong>LP.</strong></td>
        <td><strong>Usługa</strong></td>
        <td><strong>Jedn. miary</strong></td>
        <td><strong>Cena jedn.netto(zł)</strong></td>
      </tr>
      <tr>
        <td>1.</td>
        <td>Skucie płytek</td>
        <td>m2</td>
        <td>25,00 &ndash; 35,00 zł</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Wyrównanie ścian i posadzki pod nowe płytki</td>
        <td>m2</td>
        <td>30,00 &ndash; 50,00 zł</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Ułożenie glazury i terakoty o wym. pow. 20×20</td>
        <td>m2</td>
        <td>60,00 &ndash; 80,00 zł</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Ułożenie glazury i terakoty o wym. od 10×10 do 20×20</td>
        <td>m2</td>
        <td>90,00 &ndash; 120,00 zł</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Ułożenie gresu</td>
        <td>m2</td>
        <td>60,00 &ndash; 100,00 zł</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Ułożenie kamienia</td>
        <td>m2</td>
        <td>100,00 &ndash; 180,00 zł</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Ułożenie mozaiki</td>
        <td>m2</td>
        <td>150,00 &ndash; 250,00 zł</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Ułożenie cokołów docinanych</td>
        <td>mb</td>
        <td>30,00 &ndash; 40,00zł</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Ułożenie gotowych cokołów</td>
        <td>mb</td>
        <td>25,00 &ndash; 35,00 zł</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Wykonanie otworów w glazurze i terakocie</td>
        <td>szt</td>
        <td>25,00 &ndash; 40,00 zł</td>
      </tr>
      <tr>
        <td>11.</td>
        <td>Wykonanie otworów w gresie</td>
        <td>szt</td>
        <td>30,00 &ndash; 50,00 zł</td>
      </tr>
      <tr>
        <td>12.</td>
        <td>Wykonanie otworów w kamieniu</td>
        <td>szt</td>
        <td>40,00 &ndash; 80,00 zł</td>
      </tr>
      <tr>
        <td>13.</td>
        <td>Montaż dekorów</td>
        <td>mb</td>
        <td>40,00 &ndash; 60,00 zł</td>
      </tr>
      <tr>
        <td>14.</td>
        <td>Szlifowanie narożników glazury, terakoty, gresu</td>
        <td>mb</td>
        <td>60,00 &ndash; 90,00zł</td>
      </tr>
      <tr>
        <td>15.</td>
        <td>Szlifowanie narożników mozaiki</td>
        <td>mb</td>
        <td>90,00 &ndash; 150,00 zł</td>
      </tr>
      <tr>
        <td>16.</td>
        <td>Obmurowanie wanny prostokątnej</td>
        <td>szt</td>
        <td>300,00 &ndash; 450,00 zł</td>
      </tr>
      <tr>
        <td>17.</td>
        <td>Obmurowanie brodzika</td>
        <td>szt</td>
        <td>200,00 &ndash; 300,00 zł</td>
      </tr>
      </tbody>
    </table>
  </div>


  <br>
  <br>
  <br>


  <h1>Prace murarskie</h1>
  <br>
  <div class="table_price">
    <table>
      <tbody>
      <tr>
        <td><strong>LP.</strong></td>
        <td><strong>Usługa</strong></td>
        <td><strong>Jedn. miary</strong></td>
        <td><strong>Cena jedn.netto(zł)</strong></td>
      </tr>
      <tr>
        <td>1.</td>
        <td>Murowanie ścianek działowych do gr. 12 cm. z bet. komórk.</td>
        <td>m2</td>
        <td>60,00 &ndash; 90,00 zł</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Tynkowanie ścian</td>
        <td>m2</td>
        <td>25,00 &ndash; 50,00 zł</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Wyburzenie ścian działowych murowanych</td>
        <td>m2</td>
        <td>50,00 &ndash; 90,00 zł</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Skucie tynku</td>
        <td>m2</td>
        <td>15,00 &ndash; 30,00 zł</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Montaż pustaków szklanych</td>
        <td>m2</td>
        <td>200,00 &ndash; 400,00 zł</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Wykonanie wylewki samopoziomującej</td>
        <td>m2</td>
        <td>20,00 &ndash; 30,00 zł</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Demontaż drzwi</td>
        <td>szt</td>
        <td>80,00 &ndash; 100,00 zł</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Montaż drzwi wewnętrznych</td>
        <td>szt</td>
        <td>180,00 &ndash; 280,00 zł</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Montaż parapetów wewnętrznych</td>
        <td>mb</td>
        <td>60,00 &ndash; 150,00 zł</td>
      </tr>
      </tbody>
    </table>
  </div>



  <br>
  <br>
  <br>



  <h1>Prace posadzkarskie</h1>
  <br>
  <div class="table_price">
    <table>
      <tbody>
      <tr>
        <td><strong>LP.</strong></td>
        <td><strong>Usługa</strong></td>
        <td><strong>Jedn. miary</strong></td>
        <td><strong>Cena jedn.netto(zł)</strong></td>
      </tr>
      <tr>
        <td>1.</td>
        <td>Usunięcie parkietu</td>
        <td>m2</td>
        <td>10,00 &ndash; 25,00 zł</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Usunięcie wykładziny</td>
        <td>m2</td>
        <td>8,00 &ndash; 15,00 zł</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Usuniecie płytek PCV</td>
        <td>m2</td>
        <td>10,00 &ndash; 20,00 zł</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Układanie wykładziny dywanowej</td>
        <td>m2</td>
        <td>15,00 &ndash; 30,00 zł</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Układanie wykładziny PCV</td>
        <td>m2</td>
        <td>15,00 &ndash; 30,00 zł</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Układanie paneli podłogowych</td>
        <td>m2</td>
        <td>20,00 &ndash; 35,00 zł</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Montaż listew przypodłogowych</td>
        <td>mb</td>
        <td>10,00 &ndash; 20,00 zł</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Układanie parkietu</td>
        <td>m2</td>
        <td>30,00 &ndash; 45,00 zł</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Cyklinowanie + lakierowanie</td>
        <td>m2</td>
        <td>30,00 &ndash; 40,00 zł</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Wyrównanie posadzki masą&nbsp;samopoziomującą</td>
        <td>m2</td>
        <td>20,00 &ndash; 30,00 zł</td>
      </tr>
      </tbody>
    </table>
  </div>


  <br>
  <br>
  <br>



  <h1>Instalacje hydrauliczne</h1>
  <br>
  <div class="table_price">
    <table>
      <tbody>
      <tr>
        <td><strong>LP.</strong></td>
        <td><strong>Usługa</strong></td>
        <td><strong>Jedn. miary</strong></td>
        <td><strong>Cena jedn.netto(zł)</strong></td>
      </tr>
      <tr>
        <td>1.</td>
        <td>Wykonanie podejścia wodno-kanalizacyjnego</td>
        <td>pkt</td>
        <td>200,00 &ndash; 240,00 zł</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Wykonanie instalacji centralnego ogrzewania</td>
        <td>pkt</td>
        <td>200,00 &ndash; 240,00 zł</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Demontaż instalacji hydraulicznych</td>
        <td>pkt</td>
        <td>70,00 &ndash; 90,00 zł</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Demontaż wanny, brodzika, umywalki</td>
        <td>pkt.</td>
        <td>40,00 &ndash; 100,00 zł</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Montaż stelaży podtynkowych</td>
        <td>szt</td>
        <td>250,00 &ndash; 350,00 zł</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Montaż grzejnika</td>
        <td>szt</td>
        <td>80,00 &ndash; 150,00 zł</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Montaż umywalki</td>
        <td>pkt</td>
        <td>80,00 &ndash; 150,00 zł</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Montaż wanny</td>
        <td>szt</td>
        <td>150,00 &ndash; 300,00 zł</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Montaż baterii standardowej</td>
        <td>szt</td>
        <td>40,00 &ndash; 100,00 zł</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Montaż baterii podtynkowej</td>
        <td>szt</td>
        <td>300,00 &ndash; 700,00 zł</td>
      </tr>
      <tr>
        <td>11.</td>
        <td>Montaż brodzika</td>
        <td>szt</td>
        <td>150,00 &ndash; 250,00 zł</td>
      </tr>
      <tr>
        <td>12.</td>
        <td>Montaż kabiny prysznicowej</td>
        <td>szt</td>
        <td>300,00 &ndash; 600,00 zł</td>
      </tr>
      <tr>
        <td>13.</td>
        <td>Montaż panelu prysznicowego</td>
        <td>szt</td>
        <td>150,00 &ndash; 500,00 zł</td>
      </tr>
      <tr>
        <td>14.</td>
        <td>Kucie bruzd pod rury hydrauliczne z zagipsowaniem</td>
        <td>mb</td>
        <td>60,00 &ndash; 120,00 zł</td>
      </tr>
      </tbody>
    </table>
  </div>



  <br>
  <br>
  <br>



  <h1>Instalacje elektryczne</h1>
  <br>
  <div class="table_price">
    <table>
      <tbody>
      <tr>
        <td><strong>LP.</strong></td>
        <td><strong>Usługa</strong></td>
        <td><strong>Jedn. miary</strong></td>
        <td><strong>Cena jedn.netto(zł)</strong></td>
      </tr>
      <tr>
        <td>1.</td>
        <td>Wykonanie punktu elektrycznego</td>
        <td>pkt</td>
        <td>50,00 &ndash; 70,00 zł</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Montaż gniazd, łączników itp.</td>
        <td>szt</td>
        <td>10,00 &ndash; 12,00 zł</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Montaż rozdzielni</td>
        <td>moduł</td>
        <td>60,00 &ndash; 80,00 zł</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Montaż wentylatora</td>
        <td>szt</td>
        <td>50,00 &ndash; 80,00 zł</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Montaż osprzętu oświetleniowego</td>
        <td>szt</td>
        <td>20,00 &ndash; 60,00 zł</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Demontaż instalacji elektrycznych</td>
        <td>pkt</td>
        <td>20,00 &ndash; 50,00 zł</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Demontaż osprzętu</td>
        <td>szt</td>
        <td>15,00 &ndash; 35,00 zł</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Kucie bruzd pod przewody elektryczne z zagipsowaniem</td>
        <td>mb</td>
        <td>30,00 &ndash; 40,00 zł</td>
      </tr>
      </tbody>
    </table>
  </div>

  <br>
  <br>
  <br>

</div>






<div class="our-services2">
</div>






