<div id="main-controler">
<div class="galeries">




  <div class="single-col galeria_room">
    <h3>Galeria</h3>

    <div class="container">
      <ul>




        <li><a class="example-image-link" href="<%= image_url('owl_slider/os2.jpg') %>" data-lightbox="roadtrip" >
          <img src="<%= asset_url('owl_slider/os2.jpg') %>" width="80" height="80" alt="jeden" ></a></li>
        <li><a class="example-image-link" href="<%= image_url('owl_slider/os2.jpg') %>" data-lightbox="roadtrip" >
          <img src="<%= asset_url('owl_slider/os2.jpg') %>" width="80" height="80" alt="dwa" ></a></li>
        <li><a class="example-image-link" href="<%= image_url('owl_slider/os3.jpg') %>" data-lightbox="roadtrip" >
          <img src="<%= asset_url('owl_slider/os3.jpg') %>" width="80" height="80" alt="trzy" ></a></li>
        <li><a class="example-image-link" href="<%= image_url('owl_slider/os6.jpg') %>" data-lightbox="roadtrip" >
          <img src="<%= asset_url('owl_slider/os6.jpg') %>" width="80" height="80" alt="cztery" ></a></li>



        <li><a class="example-image-link" href="<%= asset_url('owl_slider/os2.jpg') %>" data-lightbox="roadtrip" >
          <img src="<%= asset_url('owl_slider/os2.jpg') %>" width="80" height="80" alt="jeden" ></a></li>
        <li><a class="example-image-link" href="<%= asset_url('owl_slider/os2.jpg') %>" data-lightbox="roadtrip" >
          <img src="<%= asset_url('owl_slider/os2.jpg') %>" width="80" height="80" alt="dwa" ></a></li>
        <li><a class="example-image-link" href="<%= asset_url('owl_slider/os3.jpg') %>" data-lightbox="roadtrip" >
          <img src="<%= asset_url('owl_slider/os3.jpg') %>" width="80" height="80" alt="trzy" ></a></li>
        <li><a class="example-image-link" href="<%= asset_url('owl_slider/os6.jpg') %>" data-lightbox="roadtrip" >
          <img src="<%= asset_url('owl_slider/os6.jpg') %>" width="80" height="80" alt="cztery" ></a></li>


        <!--
        <a href="<%= asset_url('owl_slider/os2.jpg') %>" data-lightbox="roadtrip" title="My caption">image #1</a>
        <a href="<%= asset_url('owl_slider/os3.jpg') %>" data-lightbox="roadtrip">image #2</a>
        <a href="<%= asset_url('owl_slider/os3.jpg') %>" data-lightbox="roadtrip">image #3</a>
        <a href="<%= asset_url('owl_slider/os6.jpg') %>" data-lightbox="roadtrip">image #4</a>


        <a class="example-image-link"
        href="<%= asset_url('owl_slider/os2.jpg') %>" data-lightbox="example-set"
        data-title="Click the right half of the image to move forward"><img class="example-image"
                                                                            src="<%= asset_url('owl_slider/os2.jpg') %>" alt=""/> </a>
        <a class="example-image-link"
           href="<%= asset_url('owl_slider/os3.jpg') %>" data-lightbox="example-set"
           data-title="Click the right half of the image to move forward"><img class="example-image"
                                                                               src="<%= asset_url('owl_slider/os2.jpg') %>" alt=""/> </a>

        <a class="example-image-link"
           href="<%= asset_url('owl_slider/os6.jpg') %>" data-lightbox="example-set"
           data-title="Click the right half of the image to move forward"><img class="example-image"
                                                                               src="<%= asset_url('owl_slider/os2.jpg') %>" alt=""/> </a>

        <a class="example-image-link"
           href="<%= asset_url('owl_slider/os2.jpg') %>" data-lightbox="example-set"
           data-title="Click the right half of the image to move forward"><img class="example-image"
                                                                               src="<%= asset_url('owl_slider/os2.jpg') %>" alt=""/> </a>

        -->


        <h3>A Four Image Set</h3>
        <div>
          <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt=""/></a>
          <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
          <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
          <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
        </div>
        </section>




      </ul>
    </div>
  </div>
</div>



<div class="our-services2">
</div>
</div>
