@import "style_new/colors";
@import "style_new/helpers";
@import "style_new/styles";

.galeries {
  background-color: $footer-background; // kolor naszej stopki
  height: 600px;
  .galeria_room {
    // Odwolajmy sie do naszej klasy
    @include center-text;

    ul {
      //@include list-style-none;            // usowamy punktory
      li {
        @include inline-block; // wyswietlm liniowo blokowo
        margin-right: 5px; // margines prawy
        margin-bottom: 6px; // dolny
        img {
          width: 120px; // rozmiar okreslimy szerokosc na sztywno
          height: 120px;
        }
        a {
          @include basic-transition; // nasz efekt hover
          &:hover {
            // bedzie bazowal na zmianie ilosci krycia
            opacity: 0.7; // tyle uzyjemy
          }
        }
      }
    }
  }
}

.our-services2 {
  padding: 2px 0 0px;               // Margines gorny 80 boczne 0 i  dolny 60
  //@include overflow-fix;              // Tu nie ma zadnej wyskokosci i tu zastosujemy nasz mixin over-flov z wartoscia auto, naprawi nam to problem z wysokoscia wszedzie tam gdzie sa elementy plywajace
}


