// Dodamy wlasciowosci ktore powtarzaja sie czesto
// Np; ramki, obramowania powtarzające sie wlasciowci


// zmienne dla użadzen
$phone: "only screen and (min-width: 200px)";
$tablet: "only screen and (min-width: 992px)";
$desktop: "only screen and (min-width: 1200px)";






// Wyrownanie, pozycjowanie  Podstawowe sterowanie
@mixin center-text {
  text-align: center;
}

@mixin float-left {
  float: left;
}

@mixin float-right {
  float: right;
}

@mixin  float-none {
  float: none;
}

@mixin center-no-float {
  @include float-none;
  @include center-text;
}

@mixin no-center-float {
  @include float-left;
  text-align: initial;
}

// wyrowanie w pionie
@mixin center-vertical {     //wysrodkownie w pionie
  position: relative;
  top: 50%;            // przesuniecie o 50 od gornej krawedzi
  transform: translateY(-50%);   // ale zeby przesunąć obiekt wzgledem jego wlasnego srodka
}

// Widocznosc
@mixin invisible {
  display: none;
}

@mixin inline-block {
  display: inline-block;
}

@mixin block {
  display: block;
}


// rozmiary w pionie jak i w poziomie
@mixin absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

 @mixin size($width, $height) {   // wysokosci i szerokosc z parametrami
 width: $width;
 height: $height;
}


// Listy
@mixin list-style-none {
  list-style-type: none;
}

// Ramki
@mixin section-border-top($border-color: $basic-border-color) {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $border-color;
}

@mixin section-border-bottom($border-color: $basic-border-color) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $border-color;
}



// Elementy plywajace   - czyli style do naprawiania elementow plywajacych

@mixin overflow-fix  {   //
  overflow: auto;         // to pozwoli nam naprawic problemy z wysokoscią elementu ktory ma w srodku divy
}

@mixin clearfix {        // Sluzy do naprawaiania wysokosci kontenera z elementami plywajacymi
  &:after {              // Ampersend i pseldoelementy
    content: "";         // Musi byc z pustą wartoscia
    display: table;      // wyswietalany musi byc jako tabela
    clear: both;         // musi posiadac wlasciwosc clear z wartoscią
  }
}                        // Ten mixin bedziemy mogli dodac w różnych miejscach





// ukrywanie - nie po przez usówanie tulko przez zmienienie ich krycia

@mixin hide {    // czyli urkyj
  opacity: 0;    // element ktory krycie ma ustawiony na 0
}

@mixin show {
  opacity: 1;   // czyli pelene krycie
}

// narozniki   - zaokrąglone
@mixin border-radius-single($radius) {     // single czyli identyczne zaokrąglenie na wszystkich narożnikach
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}


// podstawowe przejscie 0.2s    // czyli na przycisku - hover (opakujemy je domieszką)

@mixin basic-transition {
  transition: all 0.2s ease-in-out;   // wszytkie wlasciwosci, 2dziesiate sekundy i miekkie p[rzejscie
}



// Zmienne przjscie

@mixin variable-transition($length) {   // Zmienne przejscie
  transition: all $length ease-in-out;
}







// Translate 3D   // w pewnych miejscach bede musial zmieniac obiekty we wszystkich 3osiach

@mixin translate3d ($move-x, $move-y, $move-z) {   //przesuniescie w osi x y z
  transform: translateX($move-x);
  transform: translateY($move-y);
  transform: translateZ($move-z);
}




//Nakladka  dla przygaszenia koloru filmu wideoo -parallaxa

@mixin dark-overlay {   // doslownie ciemna nakladak
  content: "";          // musi byc pusty element
  z-index: 0;           // poczatkowa warstosc zero
  @include absolute-one-hundred-size;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5);
}