@import "style_new/colors";
@import "style_new/helpers";
@import "style_new/styles";

.prices {
  background-color: $footer-background; // kolor naszej stopki
  height: auto;
  .price_room {
    @include center-text;
  }
  p {
    color: #fff;
  }
  .table_price, tr, td {
    color: #fff;

    //border: 1px solid #d4cdaf;
    border-collapse: collapse;
    margin-left: 23%;
   // margin-right: 25%;
    table {
      width: 800px;
    }

  }

  h1 {
    color: #fff;
    margin-left: 23%;
  }
  td {
    border: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

  }





}

.our-services2 {
  padding: 2px 0 0px;               // Margines gorny 80 boczne 0 i  dolny 60
  //@include overflow-fix;              // Tu nie ma zadnej wyskokosci i tu zastosujemy nasz mixin over-flov z wartoscia auto, naprawi nam to problem z wysokoscia wszedzie tam gdzie sa elementy plywajace
}





