// Teraz bedziemy tu pracowac i to nasz takie nasze glowne style

// siatka kolumn, nadpiszemy liczbe zmiennych
$columns: 12; // Damy tu 12 kolum, czyli kolumny beda sie dzielily na 3, na 4, na 6 ale zawsze przez 12 sa podzielne
$column-width: 60px; // Szerokosc kolumny
$gutter-width: 30px; // Odstepy miedzy kolumnami
$total-width: 100%; // Musi ona posiadac wartosc 100% wtedy automatycznie bedą sie dopasywaly kolumny do viewsportu]

//

@import "typography";
@import "helpers";
@import "grid";
@import "colors";

.our-services .single-col {
  @include column(12);
  //@media #{$tablet} {
    //@include column(3);
  //}
  @media #{$phone} {
    @include column(6);
  }
  @media #{$tablet} {
    @include column(3);
  }
}

.our-services2 .single-col {
  @include column(12);
  @media #{$tablet} {
    @include column(3);
  }
}

.advantages .single-col {
  @include column(12);
  //@media #{$tablet} {
    //@include column(4)
  //}
  @media #{$phone} {
    @include column(6);
  }
  @media #{$tablet} {
    @include column(4);
  }
}

.statistics .statistics-single-item  .single-col {
  @include column(12);
  @media #{$phone} {
    @include column(6);
  }
  @media #{$tablet} {
    @include column(4);
  }
}

.our-team .single-col {
  @include column(12);
  @media #{$tablet} {
    @include column(4);
  }
}

.footer-main .single-col {
  @include column(12);
  @media #{$phone} {
    @include column(6);
  }
  @media #{$tablet} {
    @include column(3);
  }
}

// Kontener
.container {
  max-width: 1200px; //nasza maksymalna szerokosc
  margin: 0 auto; // nasz margines gora dol zero - boki -auto
  clear: both; // elementy plywajace
  padding: 0 15px; // odsetepy gora dol zero, a od lewej i prawej 15px
}

// Inne elementy
img {
  max-width: 100%;
  vertical-align: middle; //widok pod obrazkiem - skaluje sie od malego do duzego
}

a {
  text-decoration: none; //usunmy domyslne podkreslenie tekstu wsrod odnosnikow
}

// Wykluczmy marginesy z elementów tak aby nam nie przeszkadzaly
// *  - taki selektor który odwołuje sie do wszystkiego na stronie
* {
  box-sizing: border-box; //efekt pudelka
}

// TERAZ TYLY SEKCJI ktore czesto sie przewijają

.section-title {
  margin-bottom: 40px; // margines na dole
  @include center-text;
}

.section-tite_our-services {
  @include center-text;
}

// Naglowki
h1, h2, h3 {
  line-height: 1.1; //wysokosc linji dla nagółwków -czyli bardzo subtelna zmiana
}

// mixin dla przyciskow
@mixin basic-button($color, $background-color) {
  color: $color;
  background-color: $background-color;
  text-decoration: none; //usowamy wszystkie podkreslenia przyciskow
  @include inline-block; // wyswietlamy go jako element blokowo linjowy
  font-size: $basic-font-size;
  font-weight: 400;
  line-height: $basic-line-height;
  text-transform: uppercase; // wszystkie przyciski bedą w duzych literach
}

/***  Naglowek ***/
header {
  z-index: 1000;
  position: fixed; //chce uzskac efekt -tzw. menu przyklejony do górnej krawedzi
  top: 0; // musimy powiedziec gdzie ma byc przyczepiony czyli do górnej krawedzi
  left: 0; // lewej
  right: 0; // prawej
  background: $basic-background;
  border-bottom: 1px solid $basic-border-color; //obramowanie tego menu
  box-shadow: 0 0 1px $basic-border-color; // dajmy tez cien, wartosci to przesuniecie w pionie oraza poziomie
  .navbar { // teraz inietersuje mnie ta klasa i ustawimy w niej
    height: 63px; // szerokosc
    .nav-logo { //  logo musi byc umieszczone po lewej i wysrodkowanie
      @include float-left;
      //@include center-vertical;
      position: relative;
      top: 10%;            // przesuniecie o 10 od gornej krawedzi
      transform: translateY(-50%);   // ale zeby przesunąć obiekt wzgledem jego wlasnego srodka
      z-index: 2;
    }
  }
}

// Ukrywamy elementy MENU
#main-menu {
  @include invisible;
  @media #{$tablet} {
    @include block;
  }
}

// menu mobilne
.slicknav_menu {
  position: fixed;
  left: 0;
  right: 0;
  @media #{$phone} {
    @include invisible;
  }
  i {
    @include invisible; // Ukrywamy wszystkie elementy i
  }
  ul {
    @include section-border-bottom;
    box-shadow: 0 0 1px $basic-border-color; // Doamy cien i nasz kolor szary z domieszki
  }
}

.main-menu-content { // Odwoalmy sie do samej klasy
  @include float-right; // Przesuniemy wszystko w prawo naszym mixinem
  @include center-vertical; // Uzyjemy pomocnej klasy wysrodkowanie w pionie
  ul {
    @include list-style-none; // Wylączymy styl listy
    li {
      @include float-left; // Umiescimy znaczniki obok siebie
      @include block; // Elementy muszą byc blokieim
      a {
        color: $menu-link-color;
        font-size: 15px; // Tu uzyjemy sztywnej wartosci
        font-family: $font-family-secondary; // Tu nasze lato
        font-weight: 400; // Jest to bazowa waga tekstu
        padding: 20px 14px; // gora dol 20 i po bokach 14
        line-height: 20px;
        @include basic-transition; // Przejscie delikatne-bardzo subtelne 2m/s
        &:hover { // Zagniezdzimy wyglad stanu hover
          color: $accent-color;
        }
        @media #{$tablet} {
          padding: 20px 22px;
        }
      }
      i {
        font-size: 14px;
      }
    }
  }
}

// glowny slider
.bxslider { // Odwolamy sie do glownej klasy
  .main-slide-1 { // Jestesmy w tej klasie
    //background-image: url('../../images/slider_1.jpg');  //Zaladujemy ten obrazek
    // background-image: asset-url('slider_1tom2.jpg');  main-slide-1
    background-image: asset-url('Fotolia_man_slider.jpg');
    background-size: cover; //
    background-repeat: no-repeat; // Nie chce zeby tlo bylo powtarzane
    background-position: 0 0; // Pozycje odstep 0 i zero
    &:after { // Uzyjemy nakladki
      @include dark-overlay; // Damy nasza domieszke z helpera naszego przycimnienia slidera zeby nie odwracal uwagi od reszty witryny
    }
  }
  .main-slide-2 {
    //background-image: url('../../images/slider_2.jpg');
    // background-image: asset-url('slider_2tom2.jpg');  Fotolia_Man_slider2.jpg
     background-image: asset-url('Fotolia_Man_slider2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    &:after {
      @include dark-overlay;
    }
  }
}

// obrazki w sliderze
.bx-viewport { // Widoczny obszar slidera
  img { // Odwolamy sie do wszystkich img w naszym sliderze
    @include invisible; // Teraz te obrazki bede chcial ukryc
    @media #{$tablet} { // Ale bedą widoczne dopiero od takiej szerokosci
      @include block; // Bedą wyswietlane jako element blokowy
      position: absolute; // Pozycje absolutną
      right: 10%; // od prawej krawedzi kontenera
      top: 20%; // od gory
    }
  }
}

// zawartosc slajdu
.main-slider-content {
  padding: 15% 2%; // dzieki temu uzyzkam plyna strukturre
  color: $brightest-text-color; // damy ze zmiennej
  position: relative; // relatywna
  z-index: 1; // rowny 1
  h1 { // BEDZIE SIE SKALOWAL W ZALEZNOSCI OD UZADZENIA
    font-size: 26px; // wysokoc
    line-height: 33px; // szerokosc linji
    font-weight: 400; // bazowa waga tekstu
    @media #{$tablet} { // dla tabletu
      //font-size: 48px; // dla naglowka
      // font-size: 33px; // dla naglowka
      font-size: 33px; // dla naglowka
      line-height: 60px; // z wartoscia 60px
    }
  }
  p {
    font-size: 12px; // dla akapitu pod naglowkiem
    line-height: $basic-line-height; // podobnie
    @media #{$tablet} { // styl dla urzadzen
      font-size: 18px; // tylko powiekszym rozmiar tekstu
    }
  }
  a {
    position: relative; // relatwynie oczysicie
    @include basic-button($brightest-text-color, none); //bazowy styl przycisku
    margin: 8px 0; // marginesy dla mojego przycisku
    padding: 12px 30px; // gora dol 12, po bokach 30
    border: 1px solid $brightest-text-color; // i tu wykorzystamy nasza zmienna
  }
}

// glowny kontener    STYL DLA ZAWARTOSCI STRONY ZEBY ZOSTALA PRAWIDLOWO ODSUNIETA
#main-container {
  padding-top: 53px;
}



// Nasze uslugi
.our-services {                       // Rozpoczniemy od tej klasy i nadamy jej wlasciowci
  padding: 80px 0 60px;               // Margines gorny 80 boczne 0 i  dolny 60
  @include overflow-fix;              // Tu nie ma zadnej wyskokosci i tu zastosujemy nasz mixin over-flov z wartoscia auto, naprawi nam to problem z wysokoscia wszedzie tam gdzie sa elementy plywajace
  .single-col {                       // Dodajmy teraz style do kazej pojedynczej kolumny
    margin-bottom: 30px;              // Chce zeby margines na dole bylo 30px
    @include center-text;             // I wysrodkowany tekst
    span {                                // Tutaj mamy nasze ikonki CZYLI NASZ EFEKT DEKORACYJNY - i teraz sie nimi zajmniemy
      @include inline-block;              // CZYLI niech sie wyswietlaja blokowo wykorzystamy nasz helper
      @include size(90px, 90px);          // szerokosc i wyskokos
      background: $alternate-background;  // Uzyjemy zmiennej
      @include center-text;               // zawartosc wysrodkowana
      @include border-radius-single(50%); // TUTAJ CHCE UZYSKAC KOLA I podaje parametr 50 i dzieki temu moge uzyskac ten efekt
      margin-bottom: 30px;                // magines na dole
      @include basic-transition;          // PROSTY ANIMOWANY EFEKT HOVER i wykorzystamy nasz mixin
      &:hover {                           // Tutaj bedzie sie zmienial kolor tla na naszym kole
        background: $accent-color;        // Czyli nasz kolor akcentu
      }
      &:hover > i {                       // W momencie gdy najedziemy na nasz element zmienimy kolor
        color: $brightest-text-color;     // Nasza zmienna
        cursor: default;                  // I gdy najedziemy niech nam zmieni sie na kursor
      }
      i {                                 // TERAZ IKONY
        color: $accent-color;             // Bazowy kolor tekstu
        font-size: 30px;                  // rozmiar tekstu
        line-height: 90px;                // okreslona wysokosc lini
      }

    }
    @media #{$tablet} { // Chce dla wiekszych urzadzen zlikwidowac calkowicie ten margines na dole wiec na poczatku bedzie 30 a potem wartosc 0
    margin-bottom: 0;
  }
  }
}

// Portfolio
.portfolio {                    // Zaczniemy od naszej klasy
  padding: 55px 0;              // Dodamy odstepy u gory55 oraz na dole
  @include section-border-top;  // Dodamy poziomą linije u góry za pomocą domieszki ktra dodaje obramowanie u góry i ktora przyjmuje parametry - czyli kolor ktory pobierany jest za pomocą zmiennej
  .owl-controls {               // Slider ma kontrolki i w nim zagnieżdzimy
    margin-top: 60px;           // Jedynie to co nam jest odstep kontrolek od slidera
  }
}

.portfolio-item {       // Teraz nadamy wlasicwosic
  width: 100%;          // Kazdy element ma byc rozciągniety na 100 procent dostepnej szerokosci
  img {                 // Odwolamy sie do elementów w img naszego obrazka znajdujacych sie w srodku
    width: 100%;        // Damy jej szerokosc 100%  Bardzow WAZNE USTAWIENIE
    cursor: move;       // Kursor charakterystyczny dla elementow ktore mozna przesowac
  }
  &:hover .portfolio-hover {             // Wprowadzmy ampersend  22.Sekcja_Portfolio_Owl_Carousel_EFEKT_HOVER
    opacity: 1;                          // Tu zmienimy nasze krycie z wartosci opacity:0 na pelne czyli 1
  }
  &:hover h3 {                           //  Wplynmy teraz na naglowek h3
    @include translate3d(0%, 0%, 0%);    //  Przesuniecie nasze zresetujemy w osi Y
  }
  &:hover p {
   @include translate3d(0%, 0%, 0%);     // Animacja dla pozostalych elementow
  }
  &:hover a {
   @include translate3d(0%, 0%, 0%);
  }

}

.portfolio-hover {                              // Teraz ta klasa
  @include absolute-one-hundred-size;           // Skorzystamy z naszej domieszki
  @include center-text;                         // Wysordkujmy zawartosc
  @include basic-transition;                    // Przejscie ktore ma 2dziesiate sekundy
  overflow: hidden;                             // Deliktany efekt przenikania w tle
  background-color: $box-portfolio-background;  // Delikatne odsloniciec zdjecia w tle
  opacity: 0;                                   // Domyślne krycie na zero
}

.portfolio-hover-inner {               // Style dla naszych malych elemtow
  position: absolute;                  // pozycionowanie
  width: 100%;                         //szerokosc na 100
  top: 50%;                            //odsuniecie od gory 50%
  transform: translateY(-50%);         // Przesunimy obiety wdg. srodka
  h3 {
    @include header-mixin(18px, 6px, $basic-background);    // W pliku z typografia mamy taka domieszke
    @include translate3d(0%, -400%, 0%);                    // W takim początkowym stanie musze przesunąć nasz naglowek h3 do gory - on ma zjerzadzac z gory na dol
    @include variable-transition(0.6s);                     // Tutaj przejscie damy az 6dziesiątych sekundy
  }
  p {                                              // Drugi element - to nasz akapit
    color: $basic-background;                      // kolor - bialy ze zmiennej
    margin-bottom: 20px;                           // margines na dole
    @include translate3d(0%, -400%, 0%);           // Przejscia z gory na dol - takie same jak nagrze
    @include variable-transition(0.6s);            // Przejscie tj.wyzej

  }
  a {                                      // Zlozony element w srodku
    @include inline-block;                 // Okreslmy element jako liniowo blokowy
    @include size(40px, 40px);             // Rozpoczne od kwadratu i ktory zostanie zaokrąglony - domieszka
    @include border-radius-single(50%);    // Sztuczka z obramowaniem - dokladnie polowa
    border: 1px solid $basic-background;   // Obramowanie
    @include center-text;                  // Wysrodkowanie
    margin: 0 5px;                         // Margines
    @include translate3d(0%, 400%, 0%);    // Tutaj przejscie bedzie odwrotnie
    @include basic-transition;             // Przejscie stale dla naszego przycisku
    i {                              // W elemncie a mam jeszcze element i
      line-height: 40px;             // Chce to i okreslic wysrodkowac w pione
      font-size: 14px;               // Wysokosc
      color: $basic-background;      // Kolor
      @include basic-transition;     // Bazowe przejscie
    }
    &:hover {                               // Tutaj okreslimy PRZEJSCIE NA NASZYCH PRZYCISKACH - po najechaniu zmienia kolor na bilay
      background-color: $basic-background;
    }
    &:hover i {                            // podobnie
      color: $accent-color;
    }
  }
  a.portfolio-link-left {
    @include variable-transition(0.4s);  // Damy przejscie
  }
  a.portfolio-link-right {
    @include variable-transition(0.6s);  // Drugi przycisk po stronie prawej i damy inny czas - roznicowanie dlugosci przejscia
  }
}


// Sekcja ponizej portfolio - "Co jeszcze mozemy i co potrafimy zrobic"
.content-offer {                // Odwolajmy sie do naszej klasy
  padding: 55px 0 0;            // margines goryny 55 i po bokach 0 i 0
  @include section-border-top;  // Miksin ktory dodaje pojedyncze obramowanie na gorze
  @include center-text;         // Wysrodkujmy nasz tekst
}



// Sekcja wideo
.section-video {         // Zaczniemy od elementu otaczajacego
  @include invisible;    // Ukrywamy ten film dla uzadzen mobilnych - bedą sie wyswietlac od dosć duzej wielkosci
  position: relative;    // Pozycja relatywna - pomimo tego ze element nie jest widoczny
  .container {           // Pobawmy sie teraz naszym contenerem
    padding: 175px 0;    // Margines gorny i dolny po 175 i boczne po 0
    z-index: 2;          // Zawartos tego kontenera powinna znajdowac sie przed filmem
  }
  @media #{$desktop} {   // ed megia od monitora - od tego momentu bedzie widoczna
  @include block;        // niech sie wyswietla blokowo
 }
}

#movie {                     // tu odwolamy sie do naszego diva w ktorym bedzie wyswietlany film
  @include size(100%, 100%); // rozmiar na 100
    &:after {                    // Przed nasza ciemna nakladka
     @include dark-overlay;     // dodajmy ciemną nakladke
    }
}


.video-line {              // Tu odwololamy sie do naszej klasy
 @include center-text;     // Wysrodkujmy nasze elementy
  h2 {                     // Tu nasz naglowek
    @include header-mixin(48px, 26px, $brightest-text-color);  // Nasz mixin i jego 3 parametry - czyli rozmiar tekstu, margines i trzeci kolor
    position: relative;   // bradzo wazne, musi byc pozycjonowany relatywnie
  }
  a {                     // Teraz ten element
    position: relative;   // Tez relatywnie
    @include basic-button($brightest-text-color, $accent-color); // Mixin ktory formatuje mi przyciski z paramterami:( 1 parametr to kolor, a drugi to akcent koloru)
    margin: 8px 0;     // Dla przycisku marginesy 8 i 0
    padding: 12px 30px;   // Oraz paddingi
    @include basic-transition;   // przejscie czasowe
    &:hover {
      opacity: 0.7;  // Zmiejszamy efekt hover
    }
  }
}



// Pasek ponizej wideo
.section-video-text {                // Klasa otaczajaa
  background-color: $accent-color;   // kolor tla
  padding: 50px 0;                   // Gora dol po 50 a po bokach 0
 @include center-text;               // Zawartosc wysrodkujmy
  h2 {                                   // Naglowek
    color: $brightest-text-color;         // Kolor
    margin-bottom: 0;                     // Margines na dole dokladnie 0
    a {                                                            // nasz zagniezdzony przycisk
     @include basic-button($brightest-text-color, $accent-color);  // bedzie przyjmowal dwa parametry
      margin: 8px 0 8px 65px;                                      // marginesy gorny 8 prawa0 dol8 lewa65
      padding: 10px 30px;                            // gora dol 10, boki 30
      border: 2px solid $brightest-text-color;       // Obramowanie
     @include border-radius-single(2px);             // Zaokrąglenie narożników
     @include basic-transition;                      // Proste przejscie - czyli nasze standardowe 0,2sek
      &:hover { // Bedzie bazowal na zamianie koloru
        color: $accent-color; // Kolor tekstu na kolor tla i na odwrota
        background-color: $brightest-text-color;
      }
    }
  }
}



// Sekcja Nasze zalety
.advantages {                    // Odwolajmy sie do naszej klasy
  padding: 80px 0 20px;          //  gora 80 po bokach 0 i na dole 20
  @include clearfix;             // Zawartosc calej kolumny jest elementem plywajacym i dzieki niemu nie ma problemu z ustawieniem
  .single-col {                  // Odwolajmy sie do kolumn
    @include center-text;        // wysrodkowanie
    margin-bottom: 30px;         // odstepy pomiedzy kolumnami
    span {                          // nasza ikona
      @include block;               // wyswietlimy blokowo
      @include center-no-float;     // Musi byc  NIE PLYWAJACY I NIE FLOAT
          margin-bottom: 20px;    // nasze margines
          margin-top: 20px;       // gorny margines
      i {                        // Ikona
        font-size: 30px;         // wielkosc
        color: $accent-color;    // kolor naszego akcentu
      }
      @media #{$tablet} {        // uklad dla uzadzen
          @include inline-block;     // bedzie blokowy
          @include no-center-float;  // Oznacza ze wylączone wysrodkowanie tekstu ale takze ze wlączony float do lewej
            margin-bottom: 0;        // Margines
      }
    }
    .services-content {          // wazna zecz
      margin-left: 0;            // usowamy wszelkie marginesy po lewej stronie
      @media #{$tablet} {        // dla wiekszych uzadzen to nasz margines bedzie
      margin-left: 80px;         // lewy 80px
      }
    }
    @media #{$tablet} {         //
    text-align: left;           // Wysrodkowanie do lewej
    }
  }
}

// Statystyki
.statistics {                                  // Ostylujmy to
  background-color: $alternate-background;     // Zdefinjujmy kolor tla
  @include overflow-fix;                       // element pomocniczy ktory sprawi ze nasze elementy nie beda wychodzily po za obrys naszego kontenera
  padding: 80px 0 70px;                        // gorny 80, po bokach 0, dol 70
  .single-col {
    @include column(12);              // Dodajmy piekne wyswitalnie
    @media #{$tablet} {
      @include column(3);
    }
    @media #{$phone} {
      @include column(6);
    }

    @include center-text;                      // Wysrodkujmy
    .statistics-content {                      // Teraz zawartosc
      margin-bottom: 30px;                     // margines dolny
      h3 {                                     // Odwolajmy sie do h3
        font-size: 60px;                       // Wielkosc
        color: $accent-color;                  // Kolor
        margin: 0;                            // margines 0 z kazdej storny
      }
      p {
        font-size: 14px;                      // akapity
      }
    }
  }
}

// Baner foto  - STYLE EFEKT PARALLAX
.photo-banner {                                              // Zacznijmy od naszej klasy
  @include center-text;                                      // Wysrodkujmy
  //background: url('../images/foto_baner.jpg') fixed 0 0;
  background-image: asset-url('foto_baner_tom4.jpg');             // Zaladujmy zdjecie
  background-attachment: fixed;                              // WAZENE WAZNE WAZNE Fixed - czyli tlo zostanie przyczepione do okresonego punktu - to cala sztuczka parallaxa

  // background: url("../../images/foto_baner.jpg");
  .photo-banner-inner {                                       // Wejdzmy w klase
    position: relative;                                       // Standardowo relatywnie
    z-index: 0;                                              // musi byc podspodem
    &:after {                                                // Tu nasza nakladka
      @include dark-overlay;
    }
    .container {                        // Teraz nasz kontener
      position: relative;               // Pozycja relatywana
      z-index: 1;                       // Tu musi byc wiekszy od 1
      padding: 175px 0;                 // I nasz padding gora dol 175 ,boki 0    Im wiekszy paddnig tym wiecej zdjecia bedzie odslonieta
    }
    h2 {
      @include header-mixin(48px, 26px, $brightest-text-color);           // Ten naglowek okreslimy za pomoca naszej domieszki i
    }
    a {
      position: relative;                                                // wnetrze
      @include basic-button($brightest-text-color, $accent-color);       // prosty mixin i ma dwa parametry
      margin: 8px 0;                                                     // marginesy
      padding: 12px 30px;                                                // padingi
      @include basic-transition;                                         // PROSTE PRZEJSCIE
      &:hover {                                                          // Wlasciwosc polegajaca na zmniejszeniu krycia
        opacity: 0.7;
      }
    }
  }
}


//28.Nasz_Zespol_ogolne_style
// Nasz zespol
.our-team {                             // Zaczniemy od klasy ktora calość obejmuje
  padding: 55px 0 10px;                 // jak kazda klasa bedzie potrzebowala odstepow gora i dol 55 po bokoach 0 a na dole 10
  @include center-text;                 // Zawartosc wysrodkowana
  @include section-border-bottom;       // Obramowanie w sekcji dolnej
  @include overflow-fix;                // nasze kolumny sa elementami plywajacymi i musimy wproawdzic overflow-fix
  .single-col {                         //  klasa ktora w srodku reprezentuje pojedyncza kolumne
    margin-bottom: 30px;                // i ustwimy odstepy dolne pomiedzy nimi po 30
  }
}
.team-members {                   // Kontener ktory obejmuje wszystkie trzy profile
  @include overflow-fix;          // plywajcao
  margin-bottom: 40px;            // odstep w tych trzech elementach na dole
}
.team-member {
  @include center-text;
  img {                               // pod kazdym obrazkiem
    margin-bottom: 30px;              // marginesy dolene po 30
    width: 100%;                      // szerokosc 100% -chodzi nam o plynna skalownosc  kiedy skalujemy nasze okno przegladarki i dla uządzen
  }
  h3 {
    @include header-mixin(18p, 4px);   // W naglowku to nasz mixin rozmiar
  }
  span {                                // span - krotki rozmiar tekstu
    line-height: 24px;                 // inna wysokosc linni
    margin: 0 0 17px;                  // marginesy 0 fora , 0 po blokach, i dol 17
    @include inline-block;             // element liniowo blokowy
  }
  p {
    margin-bottom: 20px;               // opis naszego profilu - mardzin booto margines na dole
  }
}


.memebers-social {
  @include list-style-none;            // unikamy elementow listy
   li {
      @include inline-block;            // kazdy element jest jak blok ale linjowy
      margin-right: 18px;               // margines po stronie prawej
      i {
        font-size: 18px;
        color: darken($alternate-background, 20%);
        @include basic-transition;
        &:hover {
        color: darken($alternate-background, 10%);
       }
      }
   }
}


// Sekcja opinie
.opinions {                   // nasza klasa
  padding: 70px 0 30px;       // odstepy gora  70, boki 0 i dol 30
  ul {                        // nasza lista
    padding: 0;               // wyzerujmy je poniewaz przegladarki maja narzucone paddingi
  }
}

.opinions-content {
  @include center-text;       // Wysrodkujmy nasza klase
  font-size: 18px;            // Domyslna wysokosc
  padding-bottom: 40px;       // margines na dole
  p {
    line-height: 30px;       // wysokosc
    font-style: italic;      // pochylona - mamy zaladowane w laoutsie 400 i 400i
    color: $opinions-text;   // damy zmienna ktora jest uzyta tylko raz
    margin-bottom: 25px;     // niewielki margines na dole
  }
  h3 {
    @include center-text;    // wysrodkujmy tekst
    margin: 0 0 18px;        // margines gora 0, boki 0, dol 18
  }
}


// fix dla slidera           // Naprawiamy obciety tekst na dole
.bx-viewport {               // Musimy odwolac sie z klasy narzuconej przez bxslidera
  min-height: 130px;         // i okreslimy minimalna wysokosc
}



// Stopka
// stopka - ogolne
footer {                                 //  odwolamy sie do tego elementu
  background-color: $footer-background;  // kolor naszej stopki
  color: $bright-text-color;             // jasny  kolor tekstu - nieco ciemniejszy od bazowego
  ul {
    @include list-style-none             // Usnunmy punktory w calej klasie dzieki czemu nie bedziemy powielac kodu
  }
}
.footer-main {
  padding: 84px 0 65px;                // gora 84, boki 0, dol 65
  @include overflow-fix;               //  w stopce mamy elementy plywajace i zeby poprawic im ewentualne bledy czy problemy damy naszego fixa
  h3 {
    @include header-mixin(18px, 30px, $brightest-text-color);  // Jednolity styl dla wszystkich naglowkow , 18rozmiar, margines w czesci dolnej30, i kolor
  }
  .single-col {               // odwolamy sie do klasy pojedynczej kolumy
    margin-bottom: 30px;      // bedzie nam potrzebny margines dolny
    @media #{$tablet} {       // przy wiekszych uządzeniach ten margines zlikwidujemy
    margin-bottom: 0;         // i likwidujemy go
  }
  }
}


// stopka - o nas
.footer-social {                     // wejdzmy w nasza klase
  //@include list-style-none;          // dodamy styl ktory usowa punktory
  li {
    @include inline-block;           // wyswietlmy blokowo-linjiow
    margin-right: 9px;               // margines po stronie prawej 9
    margin-bottom: 3px;              // margines na dole 3
    a {                                              //  teraz odnosniki
      @include inline-block;                         //  takze liniowo blokowo
      @include size(30px, 30px);                     // rozmiar
      border: 1px solid $footer-social-borders;      // kazda ikona posiada obramowanie, 1px solid, i obramowanie naszej zmiennej (tylko w tym miejscu uzywamy)
      @include border-radius-single(4px);            //  zaokrąglenie narożników
      @include center-text;                          //  wysrodkujmy
      text-decoration: none;                         // usunmy domyslne podkreslenie
      @include basic-transition;                     // standardowo do wszystkich odnoscnikow dodajmyem
      &:hover {                                      // zmiana koloru tla do takiego koloru jakie mamy obramowanie
        background-color: $footer-social-borders;
      }
      i {
        font-size: 14px;                        // wielkosc
        color: $footer-social-icons;            // kolor
        line-height: 28px;                      // wysokosc linji uzyjemy 28 poniewaz wysokosc calego elementu to 30
      }

    }
  }
}


// stopka - nasz blog
.our-blog {
  ul {
    //@include list-style-none;                        // usowamy punktory
    li {                                             // lista nasza
      padding-top: 15px;                             // pading gorny 15
      border-top: 1px solid $footer-social-borders;  // LINJA DEKORACYJNA POZIOMA - ALE CHCE JE WYSWIETLAC TYLKO POMIENDZY ELEMENTAMI
      &:first-child {                                // Zastosujemy do pierwszego elementu
        padding-top: 0;                              // Czyli style z  pierwszego elementu zostana usniete
        border-top: none;
      }
    }
    h4 {                                        // nasz odnoscnik
      margin: 0;                                // marginesy 0 z kazdej strony
      font-size: 13px;                          // rozmiar niewielki
      a {
        color: $bright-text-color;           // dla a jasnoszary
        font-weight: 400;                    // wielkosc tekstu 400
        @include basic-transition;           // standardowo przejscie
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.post-date {
  line-height: $basic-line-height;        // wysokosc linji ze zmienna
  margin: 0 0 10px;                       // marginesy
  color: $footer-post-date;               // kolor
  font-size: 12px;                        // wielkosc
  @include inline-block;                  // element linjowo blokowy
}


  // Stopka - galeria
.footer-gallery {                     // Odwolajmy sie do naszej klasy
  ul {
   //@include list-style-none;            // usowamy punktory
    li {
      @include inline-block;            // wyswietlm liniowo blokowo
      margin-right: 2px;                // margines prawy
      margin-bottom: 6px;               // dolny
      img {
        width: 80px;                    // rozmiar okreslimy szerokosc na sztywno
      }
      a {
        @include basic-transition;      // nasz efekt hover
        &:hover {                       // bedzie bazowal na zmianie ilosci krycia
          opacity: 0.7;                 // tyle uzyjemy
        }
      }
    }
  }
}



// Stopka - linki
.more-links {
  li {
    @include block;                                     // wysetlmy blokowo
    padding-bottom: 15px;                               // odstep dolny
    margin-bottom: 15px;                                // margines dolny
    border-bottom: 1px solid $footer-social-borders;    // obramowanie w czesci dolnej
    &:last-child {                                      // usnunmy podkreslnie z ostatniego elementu
      border-bottom: none;                              // ostatnie element
    }
  }
  a {                                                  // odnosniki dla elementow
    color: $bright-text-color;                         // kolor
    line-height: $basic-line-height;
    @include basic-transition;                    // standardowa domieszka
    &:hover {
      text-decoration: underline;
    }
  }
}

// Sekcja - Copyright  (notki o prawach autorskich)
.copyright {
  padding: 20px 0;
  background-color: $footer-copyright-background;
  border-top: 1px solid $footer-social-borders;
  p {
    font-size:12px;
    color: $basic-text-color;
    margin: 0;
    a {
      color: $bright-text-color;
    }
  }
}
