<!-- Stopka -->
<footer>
  <div class="footer-main">
    <div class="container">
      <!-- Social -->
      <div class="single-col">
        <h3>O nas</h3>
        <p>
          Na nasze usługi dajemy
          dwuletnią gwarancję. Wszelkie prace wykonujemy
          z najwyższa starannością.
        </p>
        <ul class="footer-social">
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
      </div>
      <!-- Nasz blog -->
      <div class="single-col our-blog">
        <h3>Nasz blog</h3>
        <ul>
          <li>
            <h4><a href="">Uis consequat augue dui nonm non.</a></h4>
            <span class="post-date">18 luty 2015</span>
          </li>
          <li>
            <h4><a href="">Uis consequat augue augue dui non.</a></h4>
            <span class="post-date">2 Styczeń 2015</span>
          </li>
          <li>
            <h4><a href="">Uis consequat augue dui abejnon.</a></h4>
            <span class="post-date">3 Maj 2014</span>
          </li>
        </ul>
      </div>
      <!-- Galeria -->
      <div class="single-col footer-gallery">
        <h3>Galeria</h3>
        <ul>
          <li><a href="<%= realizations_path%>"><img src="<%= asset_path('galeria2/fotolia_lampka.jpg') %>" alt=""></a></li>
          <li><a href="<%= realizations_path%>"><img src="<%= asset_path('galeria2/fotolia_swiecznik.jpg') %>" alt=""></a></li>
          <li><a href="<%= realizations_path%>"><img src="<%= asset_path('galeria2/fotolia_home_poduszka.jpg') %>" alt=""></a></li>
          <li><a href="<%= realizations_path%>"><img src="<%= asset_path('galeria2/fotolia_dom_arch.jpg') %>" alt=""></a></li>
          <li><a href="<%= realizations_path%>"><img src="<%= asset_path('galeria2/fotolia_stolik_kwiaty.jpg') %>" alt=""></a></li>
          <li><a href="<%= realizations_path%>"><img src="<%= asset_path('galeria2/fotolia_home_sweet.jpg') %>" alt=""></a></li>
        </ul>
      </div>
      <!-- Linki -->
      <div class="single-col more-links">
        <h3>Linki</h3>
        <ul>
          <li><a href="#">Strefa </a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Google</a></li>
          <li><a href="#">Inne</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright">
    <div class="container">
      <p>Copyright 2016 © <a href="">www.google.pl</a></p>
    </div>
  </div>
</footer>



