<!-- glowny kontener -->
<div id="main-container">

  <!-- Nawigacja -->
  <header>
    <nav>
      <div class="container">
        <div class="navbar">
          <div class="nav-logo animated bounce">      <!-- z klasą infinite bedzie nasza ikona animowac sie w sposob nieskaczony a bounce to nasze skakanie ikony -->
            <a href=""><img src="<%= asset_path('logo.png') %>" alt="logo" width="50"></a>
          </div>
          <div class="main-menu-content">
            <ul id="main-menu">
              <li><a href="/static_pages/home" class="menu-link-active">Start</a></li>
              <li><a href="">Opinie</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Sklep</a></li>
              <li><a href="">Współpraca</a></li>
              <li><a href="">Kontakt</a></li>
              <li><a> <%= link_to 'Cennik', price_path %> </a></li>
              <li><a> <%= link_to 'Galeria' , realizations_path %> </a></li>
              <li><a href=""> <i class="fa fa-search"></i> </a> </li>
            </ul>
          </div>
          <!-- menu mobilne -->
          <div id="attach-mobile-menu">
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>


<script>
  $(document).ready(function(){
    /* menu mobilne */
    $('#main-menu').slicknav({
      prependTo: '#attach-mobile-menu',
      label: ''                           /* label: ''  USOWAMY NAPIS MENU Z ETYKITY */
    });

    /* odliczanie */
    $('.timer').countTo();                // I tutaj dajmy nasze odliczanie  z naszeg pluginu - podpinam sie do klasy timer i wywoluje funkcji countTo



    /* YTPlayer */
    $('.player').YTPlayer();      //  Musze sie odwolac do tego elementu do ktorego bedzie wywylywany nasz player


    // Tu mam pogladowy skrypt
    /* viewport */
    $('.our-team').viewportChecker({      // Zwracamy uwage na wielkosc liter   Tutaj bedziemy mieli nasza klase
      classToAdd: 'animated slideInLeft',        // Tutaj dodamy nasza animiacjie (opcja ktora nas interesuje powinna dodawac klase  ( tutaj znajduje sie lista dostepnych opcji: https://github.com/dirkgroenen/jQuery-viewport-checker)
      repeat: true                        // Powtarzanie kiedy pojawi sie w viewporcie
    });                                   // Nas interesuje jedna czyli classToAdd: oraz element ktory wygeneruje nam animacje
                                          // animated - to klasa dodana w naszym laytsie
                                          // a swing - to dostepna animacja z strony : https://daneden.github.io/animate.css/
                                          // CZYLI - TE DWIE KLASY ZOSTANA DODANE DO NASZEJ KLASY ALE DOPIERO WTEDY KIEDY ZOSTANIE ZALOADOWANY DO VIEWPORTU

/*
    $('.opinions').viewportChecker({           // Fack - ale zajebioza
      classToAdd: 'animated slideInRight'
    });
*/

    /* viewport */
    $('*[data-animate]').addClass('hide').each(function(){            // Za pomocą jQery odwolam sie do wszystkich elementow data-animate na stronie i dodam do niej domieszke hide-ukryj-domieszka i przeliteruje petlą po nich
      $(this).viewportChecker({                                       // na kazdym elemencie (this) wywolam nasz viewportChecker
        classToAdd: 'show animated ' + $(this).data('animate'),       // i na kazdym elemencie spelniajacym nasze kryterium dodamy klse-domieszke-show + oprocz niej musze dodac nasza animiacjie
        classToRemove: 'hide',                                        // i WAZENE musimy takze usunac klase
        offset: 200                                                   // oraz dodam opuznienie 1/5sekundy
      });
    });
  });




  $('#main-container').imagesLoaded(function () {   /* I tutaj skorzystamy z naszego gemu do ladowania obrazkow przed reszta innych rzeczy - dzieki temu nie bedzie marginesu po prawej stronie widocznego np.w chromie */
    /* glowny slider */
    $('#main-slider').bxSlider({
      mode: 'fade',
      auto: true,
      controls: true,
      pager: false
    });

    /* Slider opinie */                   // Musimy go jednak tutaj wywolac poniewaz ucinal nam tekst
    $('#opinions-slider').bxSlider({      // I na naszym id wywolamy naszą funcjie
      mode: 'vertical',                   // vertical oznacza ze sliajdy bedą przeskakiwaly pionowo
      auto: true,                         // automatyczne zmiany slajdow
      controls: false,                    // Wylanczam kontrolki - nie potrzeba nam ich
      pager: false                        // bez mozliwosci zmiany recznej
    });

    $('#portfolio-carousel').owlCarousel({       /* Najpierw wysolajmy nasze elementy tego slidera */
      autoPlay: 10000,                           // Automatyczne przewijanie slidow czyli 10sek
      items: 3,                                  // Przewijanie slidow - maxymalinie 3
      itemsDesktopSmall: [1199, 2],              //  Tu okreslimy sobie szerokosc dla takich srednich rozmiarow (1199-napierw szerokosc,a potem ponizej tej szerokosci bedą ladwoane tylko dwa zdjecia- zerknijmy na strone i tam mamy duzo wlasciwosci :http://owlgraphic.com/owlcarousel/#customizing
      itemsTablet: [768, 1]
    });




  });
</script>