<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonty Google -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <!-- Wchodzimy na strone google fonts, klikamy quick use, zaznaczamy normal 400 i normal italic i kopujemy link poniżej
   i wklejamy go do naszej apki
   -->
  <!-- Oraz drugi font lato -wpisujemy i tylko normal400 -->


  <!--
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   dzieki temu mamy mozliwosc dodania ikonki wyszukiwania
   ale my uzylismy gemu font-awesome-sass -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



  <!--
  Znacznik powyżej dla użądzen mobilnych
  chodzi o to - ze rozmair roboczego obszaru ma sie dostosowac do uządzenie i początkowa szerokość to 1
  -->


  <!-- jQuery -->
  <!--MENU MENU MENU  -->
  <!-- Ten skrypt jest nam potrzebny do naszego mobilnego menu - dzieki niemu bedziemy mieli
   mozliwosc zastostowania rozwiajanego menu -->
  <!-- <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>  -->   <!-- Bardzo wazne najpierw podpinamy wlasciwą biloteke a dopiero puzniej dodatki --|>
  <!-- mobilne menu --> <!-- Wchodzimy na strne http://slicknav.com/ pobieramy  i kopiujemy 4 pliki  jquery.slicknav.js i slicknav.scss core.scss theme.scss i wklejamy odpowiednio -->
  <!-- <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script> -->

  <script src="../../assets/javascripts/jquery.slicknav.min.js"></script>

  
  /<!-- <link rel="stylesheet" href="../../assets/stylesheets/style_new/slick/slicknav.scss">  -->



  <!-- Odliczanie -->
  <!-- 26.Statystiki_skrypt_countTo -->
  <!-- Podepnijmy standardowo nasz skrypt ze strony https://github.com/mhuggins/jquery-countTo/blob/master/jquery.countTo.js-->
  <script src="../../assets/javascripts/jquery.countTo.js"></script>


  <!-- 39.Bibloteka_Animate_Skrypt_Viewport_checker -->
  <!-- Podpinamy nasza bibloteke  -->
  <script src="../../assets/javascripts/jquery.viewportchecker.js"></script>

  <!--  Sekcja Wideo -->
  <!-- YTPlayer -->
  <!--  43.Plugin_Wideo_cz.1 -->
  <script src="../../assets/javascripts/jquery.mb.YTPlayer.min.js"></script>






  <!-- Sekcja Gallery -->
  <link rel="stylesheet" href="../../assets/stylesheets/lightbox.scss">
  <script src="../../assets/javascripts/lightbox.min.js"></script>


</head>
<body>

  <%=  render 'layouts/header' %>

<%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
